.footer {
    /*max-width: 1280px;*/
    background: #00416b;
    /*display: block;*/
    /*padding: 40px 0;*/
    /*margin: 0 auto;*/
}

.container-fluid {
	display: block;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1280px;
}

.footer .container-fluid > div {
	display: inline-block;
}

.footer .container-fluid > .col-md-2 {
	position: absolute;
}

.footer .container-fluid > div.first {
	padding-left: 0;
	padding-right: 80px;
}

.footer .container-fluid > div.first p {
	margin-top: 15px;
}

.footer .container-fluid > div > a img {
	width: 100%;
	margin-bottom: 25px;
}
.footer .container-fluid > div > p,
.footer .container-fluid > div > span a {
	font-family: "Futura LT Pro Body", Helvetica, sans-serif !important;
	color: #fff;
}
.footer .container-fluid > div > p:nth-of-type(1) {
	color: #ffcd00 !important;
}

.footer .container-fluid > div.first strong,
.footer .container-fluid > div > p:nth-of-type(1) {
    font-family: "Futura LT Pro Heading", Helvetica, sans-serif;
}