.footer {
    /*max-width: 1280px;*/
    background: #00416b;
    /*display: block;*/
    /*padding: 40px 0;*/
    /*margin: 0 auto;*/
}

.footer .container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container-fluid {
	display: block;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1280px;
}

.footer .container-fluid > div {
	display: inline-block;
}

/*.footer .container-fluid > .col-md-2 {
	position: absolute;
}*/

.footer .container-fluid > div.first {
	padding-left: 0;
	padding-right: 80px;
}

.footer .container-fluid > div.first p {
	margin-top: 15px;
}

.footer .container-fluid > div > a img {
	width: 100%;
	margin-bottom: 25px;
}

.footer .container-fluid > div > p:nth-of-type(1) {
	color: #ffcd00 !important;
}
.footer .container-fluid > div > p,
.footer .container-fluid > div.first p,
.footer .container-fluid div:nth-last-child(1),
.footer .container-fluid > div > p span a {	
	color: #fff !important;
}

.footer .container-fluid > div > p {
	padding-bottom: 20px;
}

