.header {
	position: fixed;
	width: 100%;
	top: 56px;
	background: #fff;
	z-index: 10;
}

nav {
	max-width: 1280px;
	display: block;
	margin: 0 auto;
}

.header nav .row .col-md-2 a {
	width: 200px;
	margin-left: 100px;
}

nav .row a {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	color: #000;
	text-decoration: none;
}

nav .row a:hover {
	color: #0076bc;
	text-decoration: underline;
}

.header nav .row button.button {
	display: none;
}

nav .row img.logo {
	max-width: 200px;
}

nav .row img.internal.a {
	width: 100%;
	max-width: 262px;
}

nav div ul {
	position: relative;
	top: 30%;
}

nav div ul li {
	display: inline-block;
	margin: 0 10px;
	float: right;
}

nav .date p {
	position: relative;
	top: 45px;
	/*text-align: center;*/
	text-transform: uppercase;
	letter-spacing: 1px;
}

ul.horizontal > li:nth-child(2) > a,
ul.horizontal > li:nth-child(3) > a,
ul.horizontal > li:nth-child(4) > a {
	letter-spacing: 2px;
}

/* Center Date */
.col-md-4.date {
	text-align: center;
}

.col-md-4.right {
    float: right;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border: 1px solid lightgray;
    border-radius: 2px;
    /*width: 220px;*/
    text-align: center;
    padding: 25px 0 5px;
    background: #fff;
    position: absolute;
    /*min-height: 150px;*/
    top: 40px;
}

.col-md-4.right a {
	/*margin: 15px auto;*/
	margin: 0 auto 20px;
	/*border: 2px solid #0075c9;*/
    width: 190px;
    border: 3px solid #0075c9;
    color: #0075c9;
    text-decoration: none;
    text-transform: uppercase;
}

.col-md-4.right div:nth-child(1) a {
	background: #0075c9;
	color: #fff;
}

.col-md-4.right div:nth-child(1) a:hover {
	background: #fff;
	color: #0075c9;
	text-decoration: none;
}

.col-md-4.right div:nth-child(2) a:hover {
	background: #0075c9;
	color: #fff;
	text-decoration: none;
}

.active {
	opacity: 1;
}

/* Menu Hide */
.hidden {
	opacity: 0;
}

/* Mega Menu Sub Container Slide Vertical Transition Using Height */
.col-md-12.c {
	max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}


/* Mega Menu Sub Menu Container Top/Bottom Padding Spacing */
.col-md-12.o {
/*	height: 100%;*/
    /*max-height: 500px;*/
    transition: max-height 0.25s ease-in;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-right: 0;

}

.sub.plus.col-md-12.o {
	padding-top: 0;
}

/* Mega Menu Sub Menu Arrows */
.sub > div > .responsive-arrow {
	bottom: 0;
	top: 10px;
	position: relative;
}

/* Mobile Menu Arrows */
.responsive-arrow {
    display: inline-block;
    float: right;
    color: #0174cd;
    font-size: 30px;
    bottom: 13px;
    position: relative;
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background: #fff;
}

/* Mobile Menu Arrow Button On Click */
.responsive-arrow.open {
    transform: rotate(180deg);
    color: #fff;
    background: #0174cd;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 1.125;
    position: relative;
    top: 0;
}


/* Mobile Menu Responsiveness */
.mobile-menu .b {
    transition: 1s;
	z-index: 20;
	background: #fff;
	height: 100%;
}

/* Full Width Mobile Menu */
.mobile-full-menu.ho {
    width: 100%;
}

/* Collapseable Mobile Menu */
.mobile-full-menu.hu {
	width: 100%;
	transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
}


/* Responsive Styles */

/* Desktop */
@media screen and (max-width: 1280px) {

	/* Header Position Lowered*/
	.header {
		top: 95px;
	}

	/* Mobile Big Menu Lowered */
	.mobile-full-menu {
		position: fixed;
		top: 209px;
	}

	/* Mobile Big Menu */
	.mobile-full-menu a {
		color: #000;
	    font-family: "Futura LT Pro Heading", Helvetica, sans-serif !important;
	    position: relative;
	    top: 10px;
	    font-size: 13px;
	    text-transform: uppercase;
	}

	/* Font For Non Header Fonts*/
	.sub.plus div a,
	.mobile-menu .mobile-full-menu .imp.col-md-12 a {
		font-family: "Futura LT Pro Body", Helvetica, sans-serif !important;
	}

	/* Mobile */
	.mobile-full-menu > div {
		margin: 2.5px 5%;
	    min-height: 40px;
	}

	/* Mobile Menu Sub Menu's */
	.mobile-full-menu > div > .col-md-12 > div {
		height: 50px;
    	line-height: 50px;
	}

	/* Height of Opened Ride Sub Plus Menu */
	.mobile-full-menu > div > .col-md-12 > div.rid.open {
		height: 310px;
	}

	/* Open Up Ride Sub Plus Menu */
	.mobile-full-menu > div > .col-md-12 > div.rid.null {
		height: 50px;
	}

	/* Height of Opened Partner Sub Plus Menu */
	.mobile-full-menu > div > .col-md-12 > div.par.open {
		height: 310px;
	}

	/* Open Up Partner Sub Plus Menu */
	.mobile-full-menu > div > .col-md-12 > div.par.null {
		height: 50px;
	}


	/* Hide Menu Buttons */
	.header nav.responsive ul.horizontal li:nth-child(n+2) {
		display: none;
	}

	.header nav.responsive .col-md-2 {
		position: relative;
		z-index: 100
	}

	/* Align Right Adjust Sign On*/
	.header nav.responsive .col-md-6 {
		max-width: 80% !important;
		width: 100% !important;
		flex: unset !important;
		position: relative;
		z-index: 95;
	}

	/* Date */
	.header nav.responsive .date {
		position: absolute;
		left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    padding-left: 0 !important;
	}

	/* Responsive Log In Box */
	.loginShow.col-md-4.right {
		width: 220px;
		right: 0;
	}

	/* Mobile Menu Button*/
	.header nav .row button.button,
	nav .row .responsive-menu-open {
		display: inline-block;
		position: absolute;
		top: 45%;
		/*left: 15%;*/
		left: 35px;
	}

	/* Three Lines */
	.responsive-menu-open .lines,
	.responsive-menu-open .lines::before,
	.responsive-menu-open .lines::after {
		display: block;
		content: '';
	}

	/*Mobile Top Line*/
	.responsive-menu-open .lines.o::before {
		top: -9px;
		position: absolute;
	} 

	/* Mobile Bottom Line*/
	.responsive-menu-open .lines.o::after {
		top: 9px;
		position: absolute;
	}

	/* Mobile Buttons */
	.responsive-menu-open .lines, .responsive-menu-open .lines::before, .responsive-menu-open .lines::after {
	    width: 25px;
	    height: 3px;
	    background-color: #000000;
	    border-radius: 4px;
	    transition-property: transform;
	    transition-duration: 0.15s;
	    transition-timing-function: ease;
	}

	/* Making the Closed Mobile Menu Button part A */
	.responsive-menu-open .lines.c {
		transform: rotate(-45deg);
	}

	/* Making the Closed Mobile Menu Button part B */
	.responsive-menu-open .lines.c::after {
		transform: rotate(-90deg);
		position: relative;
		top: -3px;
	}

}

/* Tablet */
@media screen and (max-width: 767px) {
	
	.loginShow {
		height: 160px;
		width: 220px !important;
		right: -28%;
		top: 45px;
	}

	/* Center Logo */
	nav .row img.logo {
		left: 0;
	}

	/* Sign In Button Vertical */
	.header nav.responsive > .row > .col-md-6 {
		position: absolute;
		top: 30%;
	}

	/* Sign In Button Horizontal */
	.header nav.responsive .col-md-6 .horizontal li:nth-of-type(1) a.heavy {
		position: absolute;
		text-align: right;
		width: 28%;
	}

	/* Hide Date */
	.header nav.responsive .date {
		display: none;
	}

	/* Menu Button */
	.header nav .row button.button {
		left: 4%;
	}
}