@font-face {
    font-family: "Futura LT Pro Heading";
    src: url(../fonts/FuturaLTPro-Bold.otf);
}

@font-face {
    font-family: "Futura LT Pro Body";
    src: url(../fonts/FuturaLTPro-Book.otf);
}

.hero > div {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.hero .float {
    padding: 0 25px;
    max-width: 475px;
    min-height: 419px;
    position: absolute;
    z-index: 7;    
    color: #fff;
}

.hero .float.fade {
    background: #003E6A;
    opacity: .8;
}

.hero .float p {
    padding-top: 75px;
	min-height: 275px;
	font-size: 46px;
    line-height: 1.25;
    font-family: "Futura LT Pro Heading", Helvetica, sans-serif !important;
}

.hero .float .box {
	width: 63%;
	min-height: 90px;
}

.hero .float .buttons {
	width: 60px;
}

.hero .float div a {
	border: 2px solid #003E6A;
    background: #fff;
    text-transform: uppercase;
    width: 218px;
    height: 50px;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #003E6A;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;
    padding: 14px 0 3px;
    text-decoration: none;
    transition: 0.4s;
    position: relative;
    bottom: 0;
}

.hero .float div a:hover {
	background: #003E6A;
	color: #fff;
}

.hero .float div button {
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    width: 15px !important;
    height: 18px !important;
    border: 2px solid #fff !important;
}

.hero .float div button.active {
    background-color: #fff !important;
}

.hero .col-md-12 {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.hero .img img {
	width: 100%;
	height: auto;
	min-height: 420px;
}

.buttons button:focus {
    outline: 0;
}

.mobile,
img.not,
.h {
    display: none !important;
}

.col-md-12 .active,
.s {
    display: block !important;
}

@media screen and (max-width: 1280px) {

    /* Hide Desktop Slider Mini Box */
    .body .hero .container-fluid > .col-md-5 { 
        display: none;
     }

    /* Mobile Navy Row */
    .col-md-12.mobile {
        display: block !important;
        padding-bottom: 290px;
    }
    .col-md-12.mobile .float {
        display: block !important;
    }

    /* Background of Mobile Navy Row */
    .col-md-12.mobile .float {
        background: #003E6A;
        max-width: 100%;
    }

    /* Button in Mobile Navy Row */
    .hero .float .box {
        width: unset
    }

    /* Hide Click Through Slider Buttons */
    .hero .float .buttons {
        display: none;
    }

    /* Reduce from first line in Navy Row */
    .hero .float p {
        min-height: 200px;
    }

    /* Remove from Navy Row */
    .hero .float {
        min-height: unset;
    }
}

@media screen and (max-width: 960px) {
    .hero .img img {
        min-height: 275px;
    }
}

@media screen and (max-width: 768px) {
    .hero .img img {
        min-height: 275px;
    }
    .hero .float p {
        padding-top: 50px;
        font-size: 42px;
    }
}