.promo {
	background: #0077bc;
    color: #fff;
    padding: 16px 0;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 10;
}

.promo .responsive {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
}

.promo .buttons > a {
	color: #fff;
    border: 2px solid #fff;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 233px;
    height: 40px;
    position: relative;
    text-align: center;
    bottom: 32.5px;
    letter-spacing: 2px;
    line-height: 2.5;
    transition: 0.4s;
    text-transform: uppercase;
    text-decoration: none;
}

.promo .buttons> a:hover {
    background: #fff;
    color: #0077bc;
}

.promo .buttons a.white {
    background: #fff;
    color: #0077bc;
}

.promo .buttons a.white:hover {
    background: #0077bc;
    color: #fff;
}

.promo .responsive span a {
    float: unset;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}
.promo .responsive span a:hover {
    color: #eff;
}
