.sponsor {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.sponsor .col-md-12 > div {
	display: inline-block;
}

.sponsors {
    max-width: 121px;
    display: block;
    margin: 0 auto;
}

.sponsors.a {
	height: 110px;
	width: auto;
	max-width: initial;
	position: relative;
	bottom: 25px;
}